/.env
/public/bundles/*
symfony.lock
# Cache, session files and logs (Symfony3)
/var/cache/*
/var/log/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Managed by Composer
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/*

#Manage docker
!docker/mysql/.gitkeep
docker/mysql/*
